ZHIPU_API_KEY=c3bd042872e841c9b48f90c3730e00b8.QfHlmAGvd8As6yh5

LLM_BASE_URL=https://open.bigmodel.cn/api/paas/v4
LLM_MODEL=glm-4.5-air
LLM_THINKING=disabled

IMAGE_BASE_URL=https://open.bigmodel.cn/api/paas/v4
IMAGE_MODEL=glm-image
IMAGE_SIZE=1280x1280

